body {
  background-color: gray;
  width: auto;
}

h1 {
  color: blue;
  border: 2px dashed blue;
  width: 200px;
  padding: 10px;
}

h2 {
  color: blue;
  border: 2px dashed blue;
  width: 200px;
  padding: 10px;
}
